{extend name="Homepublic:p_public" /}
{block name="title"}账户安全{/block}
{block name="topscript"}
<link type="text/css" rel="stylesheet" href="/static/home/css/style.css" />
<script type="text/javascript" src="/static/home/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/home/js/menu.js"></script>    
<script type="text/javascript" src="/static/home/js/select.js"></script>       
{/block}

{block name="main"}
<div class="m_right">
    <p></p>
    <div class="mem_tit">账户安全</div>
    <div class="m_des">
        <form action="/homepersonal/changephone" method="post">
        <table border="0" style="width:880px;"  cellspacing="0" cellpadding="0">
          <tr height="45">
            <td width="80" align="right">原手机 &nbsp; &nbsp;</td>
            <td><input type="text" value="{$m_info['phone']}" disabled="" class="add_ipt" style="width:180px;" />&nbsp; <font color="#ff4e00">*</font></td>
          </tr>
          <tr height="45">
            <td align="right">新手机 &nbsp; &nbsp;</td>
            <td><input type="text" name="phone" value="" class="add_ipt" style="width:180px;" />&nbsp; <font color="#ff4e00">*</font></td>
          </tr>
          <tr height="50">
            <td>&nbsp;</td>
            <td><input type="submit" value="确认修改" class="btn_tj" /></td>
          </tr>
        </table>
        </form>
    </div>
    
    <div class="m_des">
        <form action="/homepersonal/changeemail" method="post" >
        <table border="0" style="width:880px;"  cellspacing="0" cellpadding="0">
          <tr height="45">
            <td width="80" align="right">原邮箱 &nbsp; &nbsp;</td>
            <td><input type="text" value="{$m_info['email']}" disabled="" class="add_ipt" style="width:180px;" />&nbsp; <font color="#ff4e00">*</font></td>
          </tr>
          <tr height="45">
            <td align="right">新邮箱 &nbsp; &nbsp;</td>
            <td><input type="text" name="email" value="" class="add_ipt" style="width:180px;" />&nbsp; <font color="#ff4e00">*</font></td>
          </tr>
          <tr height="50">
            <td>&nbsp;</td>
            <td><input type="submit" value="确认修改" class="btn_tj" /></td>
          </tr>
        </table>
        </form>
    </div>
    
    <div class="m_des">
        <form action="/homepersonal/changepwd" method="post">
        <table border="0" style="width:880px;"  cellspacing="0" cellpadding="0">
          <tr height="45">
            <td width="80" align="right">原密码 &nbsp; &nbsp;</td>
            <td><input type="password" k="jiupwd" value="" placeholder="请输入原密码，自动检测" class="add_ipt" style="width:180px;" />&nbsp; <font color="#ff4e00">*</font></td>
          </tr>
          <tr height="45">
            <td align="right">新密码 &nbsp; &nbsp;</td>
            <td><input type="password" name="password" value="" class="add_ipt" style="width:180px;" />&nbsp; <font color="#ff4e00">*</font></td>
          </tr>
          <tr height="45">
            <td align="right">确认密码 &nbsp; &nbsp;</td>
            <td><input type="password" name="repassword" value="" class="add_ipt" style="width:180px;" />&nbsp; <font color="#ff4e00">*</font></td>
          </tr>
          <tr height="50">
            <td>&nbsp;</td>
            <td><input type="submit" value="确认修改"  class="btn_tj" /></td>
          </tr>
        </table>
        </form>
    </div>    
</div>
<script type="text/javascript" src="/static/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
$("input[k='jiupwd']").blur(function(){
  jiupwd=$("input[k='jiupwd']").val();
  $.post("/homepersonal/checkpwd",{pwd:jiupwd},function(data){
    if (data !== "1") {alert("密码输入错误，请重新输入！")}
  })
})
</script>
{/block}
{block name="script"}
{/block}