{extend name="Adminpublic:public"}
{block name="title"}管理员管理{/block}
{block name="main"}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 
<span class="c-gray en">&gt;</span> 管理员管理 
<span class="c-gray en">&gt;</span> 权限分配
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话或邮箱" id="" name="">
				<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> 
			<span class="l">
				<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 
				<a href="javascript:;" onclick="member_add('添加用户','/adminmember/member_add_t','','510')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加用户</a>
			</span> 

			<span class="r">共有数据：<strong>88</strong> 条</span> 

			</div>
<form action="/adminrole/savenode" method="post" class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<div class="formControls col-xs-8 col-sm-6 ">当前用户：<span style="color: red;">{$roleinfo['rname']}</span></div><br><br>
			<label class="form-label col-xs-4 col-sm-2">网站角色：</label>
			<div class="formControls col-xs-8 col-sm-6">
				{foreach name="allnode" item="row"}
				<dl class="permission-list">
					<dt>
						<label><input type="checkbox" value="{$row['id']}" name="nodeids[]" {if condition="in_array($row['id'],$nodeids)"}checked{/if} >
							{$row['name']}</label>
					</dt>
				</dl>
				{/foreach}
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input type="hidden" name="id" value="{$roleinfo['id']}">
				<button type="submit" class="btn btn-success radius" onClick="return checkbox()" ><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
</form>
		</article>
	</div>

{/block}

{block name="script"}
	<script>
	function checkbox(){
		var list = document.getElementsByTagName("input");
		for(var i =0;i<list.length;i++){
		    if(list[i].type == "checkbox" && list[i].checked)
		    break;
		}
		if(i==list.length){
		 	alert("未选中任何权限！");
		  	return false;
		}
			return true;
	}
	</script>
{/block}