{extend name="Homepublic:public" /}
{block name="title"}付款完成{/block}
{block name="topscript"}
<link type="text/css" rel="stylesheet" href="/static/home/css/style.css" />
<script type="text/javascript" src="/static/home/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/home/js/menu.js"></script>    
<script type="text/javascript" src="/static/home/js/n_nav.js"></script>   
<script type="text/javascript" src="/static/home/js/num.js">
var jq = jQuery.noConflict();
</script>
<script type="text/javascript" src="/static/home/js/shade.js"></script>
{/block}
{block name="main"}
<div class="content mar_20">
    <img src="/static/home/images/img3.jpg">        
</div>
<div class="content mar_20">
        
       
        <div class="warning">           
            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
              <tbody><tr height="35">
                <td style="font-size:18px;">
                    感谢您在本店购物！您的订单已提交成功，请记住您的订单号: <font color="#ff4e00">{$o_info['order_code']}</font>
                </td>
              </tr>
              <tr>
                <td style="font-size:14px; font-family:'宋体'; padding:10px 0 20px 0; border-bottom:1px solid #b6b6b6;">
                    您选定的配送方式为: <font color="#ff4e00">申通快递</font>； &nbsp; &nbsp;您选定的支付方式为: <font color="#ff4e00">支付宝</font>； &nbsp; &nbsp;您的应付款金额为: <font color="#ff4e00">￥{$o_info['total']}</font>
                </td>
              </tr>
              <tr>
                <td style="font-size:13px;padding:20px 0 30px 0; font-family:'宋体';">
                    收货人信息：姓名 {$address['name']} ；手机号 {$address['phone']} 。 <br>
                    收货地址：{$address['area'].'　'.$address['adds']}。
                </td>
              </tr>
              <tr>
                <td>
                    <a href="/homeindex/index">首页</a> &nbsp; &nbsp; 
                    <a href="/homepersonal/personal">用户中心</a>
                </td>
              </tr>
            </tbody></table>            
        </div>
      
        
      
    </div>
{/block}

{block name="script"} 
{/block}
