{extend name="Homepublic:public" /}
{block name="title"}确认订单信息{/block}
{block name="topscript"}
<link type="text/css" rel="stylesheet" href="/static/home/css/style.css" />
<script type="text/javascript" src="/static/home/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/home/js/menu.js"></script>    
<script type="text/javascript" src="/static/home/js/n_nav.js"></script>   
<script type="text/javascript" src="/static/home/js/select.js"></script>
<script type="text/javascript" src="/static/home/js/num.js">
var jq = jQuery.noConflict();
</script>     
<script type="text/javascript" src="/static/home/js/shade.js"></script>
{/block}
{block name="main"}
    <div class="content mar_20">
        <img src="/static/home/images/img2.jpg" />        
    </div>
    
    <!--Begin 第二步：确认订单信息 Begin -->
    <div class="content mar_20">
        <div class="two_bg">
            <form action="/homecar/car_three" id="confirmation" method="post">
            <div class="two_t">
                <span class="fr"><a href="/homecar/car_list">修改</a></span>商品列表
            </div>
            <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
              <tr>
                <td class="car_th" width="80">商品简略图</td>
                <td class="car_th" width="140">商品名称</td>
                <td class="car_th" width="490">商品简介</td>
                <td class="car_th" width="120">商品单价</td>
                <td class="car_th" width="150">购买数量</td>
                <td class="car_th" width="120">小计</td>
                <td class="car_th" width="140">返还积分</td>
              </tr>
              {foreach name="c_info" item="row"}
              <tr>
                <td>
                    <div class="c_s_img"><img src="{$row['p_info']['opic']}" width="73" height="73" /></div>
                </td>
                <td align="center">{$row['p_info']['name']}</td>
                <td align="center">{$row['p_info']['content']}</td>
                <td align="center" style="color:#ff4e00;">￥{$row['p_info']['price']}</td>
                <td align="center">{$row['num']}</td>
                <td align="center">￥{$row['p_info']['price']*$row['num']}</td>
                <td align="center">{$row['p_info']['price']*$row['num']*0.1}R</td>
              </tr>
              {/foreach} 
              <tr>
                <td colspan="7" align="right" style="font-family:'Microsoft YaHei';">
                    商品总价：<span style="color: red;font-size: 14px;">￥{$total}</span> ； 
                    预计返还积分 <span style="color: red;font-size: 14px;">{$total*0.1}R</span>  
                </td>
              </tr>
            </table>


            <div class="two_t">
                <span class="fr"><a href="#">修改</a></span>收货人信息
                <input type="hidden" name="address_id" value="{$m_address['id']}">
            </div>
            <table border="0" class="peo_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
              <tr>
                <td class="p_td" width="160">收获人姓名</td>
                <td width="395">{$m_address['name']}</td>
                <td class="p_td" width="160">手机号</td>
                <td width="395">{$m_address['phone']}</td>
              </tr>
              <tr>
                <td class="p_td">配送地区</td>
                <td>{$m_address['area']}</td>
                <td class="p_td">详细地址</td>
                <td>{$m_address['adds']}</td>
              </tr>
              <tr>
                <td class="p_td">邮编</td>
                <td>{$m_address['zipcode']}</td>
                <td class="p_td">备注</td>
                <td style="color: green;">默认收获地址，右上角可修改收获地址</td>
              </tr>
            </table>

            
            <div class="two_t">
                配送方式
            </div>
            <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
              <tr>
                <td class="car_th" width="80"></td>
                <td class="car_th" width="200">名称</td>
                <td class="car_th" width="370">订购描述</td>
                <td class="car_th" width="150">费用</td>
                <td class="car_th" width="135">免费额度</td>
                <td class="car_th" width="175">保价费用</td>
              </tr>
              <tr>
                <td align="center"><input type="checkbox" name="" checked="checked" /></td>
                <td align="center" style="font-size:14px;"><b>申通快递</b></td>
                <td>江、浙、沪地区首重为15元/KG，其他地区18元/KG，续重均为5-6元/KG， 云南地区为8元</td>
                <td align="center">￥15.00</td>
                <td align="center">￥0.00</td>
                <td align="center">不支持保价</td>
              </tr>
              <tr>
                <td align="center"><input type="checkbox" name="" /></td>
                <td align="center" style="font-size:14px;"><b>城际快递</b></td>
                <td>运费固定</td>
                <td align="center">￥15.00</td>
                <td align="center">￥0.00</td>
                <td align="center">不支持保价</td>
              </tr>
              <tr>
                <td align="center"><input type="checkbox" name="" /></td>
                <td align="center" style="font-size:14px;"><b>邮局平邮</b></td>
                <td>运费固定</td>
                <td align="center">￥15.00</td>
                <td align="center">￥0.00</td>
                <td align="center">不支持保价</td>
              </tr>
              <tr>
                <td colspan="6">
                    <span class="fr"><label class="r_rad"><input type="checkbox" name="" /></label><label class="r_txt">配送是否需要保价</label></span>
                </td>
              </tr>
            </table> 
            
            <div class="two_t">
                支付方式
            </div>
            <ul class="pay">
                <li class="checked">支付宝<div class="ch_img"></div></li>
                <li>余额支付<div class="ch_img"></div></li>
                <li>货到付款<div class="ch_img"></div></li>
                <li>银联支付<div class="ch_img"></div></li>
            </ul>
 
            <div class="two_t">
                其他信息
            </div>
            <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
              <tr>
                <td width="145" align="right" style="padding-right:0;"><b style="font-size:14px;">使用红包：</b></td>
                <td>
                    <span class="fl" style="margin-left:50px; margin-right:10px;">选择已有红包</span>
                    <select class="jj" name="">
                      <option value="0" selected="selected">请选择</option>
                      <option value="1">50元</option>
                      <option value="2">30元</option>
                      <option value="3">20元</option>
                      <option value="4">10元</option>
                    </select>
                    <span class="fl" style="margin-left:50px; margin-right:10px;">或者输入红包序列号</span>
                    <span class="fl"><input type="text" value="" class="c_ipt" style="width:220px;" />
                    <span class="fr" style="margin-left:10px;"><input type="submit" value="验证红包" class="btn_tj" /></span>
                </td>
              </tr>
              <tr valign="top">
                <td align="right" style="padding-right:0;"><b style="font-size:14px;">订单附言：</b></td>
                <td style="padding-left:0;"><textarea name="message" class="add_txt" style="width:860px; height:50px;"></textarea></td>
              </tr>
            </table>
            
            <table border="0" style="width:900px; margin-top:20px;" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right">
                    该订单完成后，您将获得 <font color="#ff4e00">{$total*0.1}</font> 积分 ，以及价值 <font color="#ff4e00">￥0.00</font> 的红包 <br />
                    商品总价: <font color="#ff4e00">￥{$total}</font>  + 配送费用: <font color="#ff4e00">￥0.00</font>
                </td>
              </tr>
              <tr height="70">
                <td align="right">
                    <b style="font-size:14px;">应付款金额：<span style="font-size:22px; color:#ff4e00;">￥{$total}</span></b>
                    <input type="hidden" name="total" value="{$total}">
                </td>
              </tr>
              <tr height="70">
                <td align="right"><a href="javascript:document.getElementById('confirmation').submit();"><img src="/static/home/images/btn_sure.gif" /></a></td>
              </tr>
            </table>

            </form>
        </div>
    </div>
    <!--End 第二步：确认订单信息 End-->
{/block}

{block name="script"} 
{/block}

